.contentFlex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 3rem;
    color: #1c3a4b;
   
    img{
        width: 75%;
        height: auto;
        border-radius: 20px;
        @media (max-width: 480px){
            width: 95%;
            margin-top: 5vh;
        }
    }
}
.homeVideo{
    filter: sepia(50%);
    width: 75%;
    border-radius: 20px;
    @media (max-width: 480px){
        width: 95%;
        margin-top: 10vh;
        border-radius: 20px;
    }
}