.postContainer{
    display: flex;
    padding: 0 10rem 0 10rem;
    flex-direction: column;
}
.question{
    font-weight: 900;
    font-size: 1.15rem;
}
.answer{
    padding: .75rem;
    color: #1c3a4b;
}