.navbar{
    background-color: #1c3a4b;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.navLinksContainer{
    display: flex;
    align-items: flex-end;
    
}
.menuLinks{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    min-height: 50px;

    color: #f8efe3;
}
.titleLink{
    font-size: 1.5rem;
    display: flex;
    font-size: 12px;
    width: 10%;
    color: #f8efe3;
}
.titleLink a{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    position: absolute;
}

