

.popupWrapper {
  position: fixed;
  top: 0;
  padding: 1rem;
  z-index: 25;
  width: 100%;
  min-height: 100%;
  align-items: center;
  @supports (backdrop-filter: blur(40px)) {
    
    backdrop-filter: blur(10px);
  }
  @supports not (backdrop-filter: blur(40px)) {
    // background-color: rgba(75, 74, 91, 0.9);
  }
  :global {
    .popupWindow {
      max-width: 35rem;
      min-height: 15rem;
      
      padding: 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
      align-items: center;
      background-color: #1c3a4b;
      border: 1px solid;
      border-radius: 10px;
      color: rgb(248 239 227 / var(--tw-bg-opacity));
      // background-size: 90%;
      //overflow: auto;
      @media (min-width: 1200px) {
        padding: 2rem;
      }
      
      .close {
        top: 1.5rem;
        right: 1.5rem;
        z-index: 1;
        //opacity: 0.7;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
      .form-wrapper {
        .label {
          margin-bottom: 1.5rem;
          input, textarea {
            padding-bottom: 0.5rem;
            @media (min-width: 1200px) {
              padding-bottom: 1rem;
            }
          }
          @media (min-width: 1200px) {
            margin-bottom: 3rem;
          }
        }
      }
      h3{
        font-size: 1.5rem;
        padding: 1rem
      }
    }
  }
}