.wrapper{
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c3a4b;
    @media (max-width: 480px){
        padding: 1rem
    }
}
.section{
    padding: .75rem 0 0 0;
    a{
        text-decoration: underline;
        color: blue;
    }
    img{
        padding-top: 1rem;
    }
    @media (max-width: 480px){
        padding: .5rem;
    }
}