.contentFlex{
    display: flex;
    /* display: none; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    margin-bottom: 10px;
}
.title{
    font-size: 1.5rem;
}
.homeVideo{
    filter: sepia(50%);
}