.contentFlex{
    display: flex;
    /* display: none; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    img{
        width: 75%;
        height: auto;
        border-radius: 20px;
        @media (max-width: 480px){
            width: 95%;
            margin-top: 15vh;
        }
    }
}
.title{
    font-size: 1.5rem;
}
.homeVideo{
    filter: sepia(50%);
    width: 75%;
    border-radius: 20px;
    @media (max-width: 480px){
        width: 95%;
        margin-top: 10vh;
        border-radius: 20px;
    }
}